*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    height: 100vh;
    --bg-color: #fff;
    --border: #ddd;
    --color: #626262;
    --input-color: #111;
    --btn-hover-color: #ccc;
    --btn-active-color: #bbb;
    --font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-size: .75rem;
    --spacing: .5rem;
}

body.dark {
    --bg-color: #1f1f1f;
    --border: #3f3f3f;
    --color: #a9a9aa;
    --input-color: #eee;
    --btn-hover-color: #333;
    --btn-active-color: #444;
}

@media (prefers-color-scheme: dark) {
    body:not(.light) {
        --bg-color: #1f1f1f;
        --border: #3f3f3f;
        --color: #a9a9aa;
        --input-color: #eee;
        --btn-hover-color: #333;
        --btn-active-color: #444;
    }
}

#match-case {
    fill: var(--color);
    user-select: none;
}

#match-case > svg {
    width: 20px;
}

#previous, #next, #close {
    fill: none;
    stroke: var(--color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--spacing);
    background-color: var(--bg-color);
    color: var(--color);
}

.linux nav {
    border-radius: 10px;
    border: 1px solid var(--border);
}

nav, .btn-group {
    gap: var(--spacing);
}

span, input {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

span {
    color: var(--input-color);
    user-select: none;
}

input {
    width: 100%;
    background-color: transparent;
    color: var(--input-color);
    font-weight: 500;
    border: none;
    outline: none;
}

.divider {
    width: 2px;
    height: 100%;
    background-color: var(--btn-hover-color);
}

.btn-group {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: default;
    width: 26px;
    height: 26px;
    padding: 3px;
    text-align: center;
    transition: .2s linear all;
}

button:hover {
    background-color: var(--btn-hover-color);
}

button:active {
    background-color: var(--btn-active-color);
}

button:focus {
    outline: none;
}

button.disabled {
    opacity: .4;
}

#previous.disabled, #next.disabled {
    background-color: transparent !important;
}

.movable nav {
    -webkit-app-region: drag;
    app-region: drag;
}

input, button {
    -webkit-app-region: no-drag;
    app-region: no-drag;
    
}